.list-container{
        top: 169px;
        left: 210px;
        width: 861px;
        height: 130px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 16px #4B556505;
        border-radius: 10px;
        opacity: 1;
        
}