<div class="modal-body">
  <div class="modal-title">Ajouter une demande d'autorisation</div>
    <div class="container">
        <div class="forms">
          <form action="" [formGroup]="requestsService.requestForm">

            <mat-form-field class="text-field-style" appearance="outline">
              <input type="text" matInput [ngClass]="{'is-invalid':f['project'].invalid && f['project'].touched}"
                class="form-control" formControlName="project" placeholder="Projet de travaux *">
            </mat-form-field>

            <mat-form-field class="text-field-style" appearance="outline">
              <input type="text" matInput [ngClass]="{'is-invalid':f['user'].invalid && f['user'].touched}"
                class="form-control" formControlName="user" placeholder="Utilisateur *">
            </mat-form-field>

            <mat-form-field class="text-field-style" appearance="outline">
              <input type="text" matInput class="form-control" formControlName="contract" placeholder="Contrat">
            </mat-form-field>

            <div class="">
              <button type="submit" (click)="discardRequest()" class="cancel-btn">Annuler</button>
              <button type="submit" (click)="addRequest()" [disabled]="requestsService.requestForm.invalid"
                *ngIf="requestsService.requestForm.value['id'] == 0" class="add-btn">Créer</button>

            </div>

          </form>
      </div>
    </div>

</div>